.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #9ebddc;
    border-bottom: 8px solid #000;
    background-image: linear-gradient(to right, #fac66c, #efebeb);
}

.brand {
    border-right: 3px solid #000000;
    padding-right: 20px;
    font-weight:650;
    font-size: large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.nav {
    padding: 16px;
}

.nav a {
    border:1px solid #000000;
    margin-top: auto;
    margin-left:16px;
    margin-right: 5px;
    padding: 6px;
    text-decoration:none;
    color:#333;
    background-color: #ffffff;
}
.nav a:hover {
    border-color: #f3f3f3;
    text-decoration:underline;
    background-color: #56aaf8;
}

@media (max-width: 480px) {
    .brand {
        font-weight: 650;
        font-size: 12px;
    }

    .nav a {
        border: 1px solid #666666;
        background-color: #ffffff;
        padding: 2px;
        text-decoration: none;
        font-size: 12px;
        color: #333;
    }
}