.main {
    padding: 20px;
    background-color: #ffffff;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: round;
    background-image: url("https://cdn.discordapp.com/attachments/1374763060710998089/1458739840236523673/watercolor-floral-leaf-background-banner-frame_681672-1646.png?ex=6962b717&is=69616597&hm=3bf4ef223513f94d91a8379ea17561f1af1e68d9e0302b792367fbeb382ef327&");
}